@model CareerCloud.Pocos.ApplicantJobApplicationPoco

@{
    ViewData["Title"] = "Edit";
}

    <h3>Applicant Job Application Edit</h3>

@*<h4>ApplicantJobApplicationPoco</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Applicant" class="control-label"></label>
                <select asp-for="Applicant" class="form-control" asp-items="ViewBag.Applicant"></select>
                <span asp-validation-for="Applicant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job" class="control-label"></label>
                <select asp-for="Job" class="form-control" asp-items="ViewBag.Job"></select>
                <span asp-validation-for="Job" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationDate" class="control-label"></label>
                <input asp-for="ApplicationDate" class="form-control" />
                <span asp-validation-for="ApplicationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
