@model IEnumerable<CareerCloud.Pocos.ApplicantWorkHistoryPoco>

@{
    ViewData["Title"] = "Applicant Work History Index";
}

    <h3>Applicant Work History Index</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
    <partial name="~/Views/Shared/ApplicantShared/_Work.cshtml" model="Model.ToList()" />
</div>