@model IEnumerable<CareerCloud.Pocos.ApplicantEducationPoco>

@{
    ViewData["Title"] = "Applicant Education";
    ViewData["Options"] = true;
}

<h1>Applicant Education</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
    <partial name="~/Views/Shared/ApplicantShared/_Education.cshtml" model="Model.ToList()" />
</div>
