@model IEnumerable<CareerCloud.Pocos.CompanyJobEducationPoco>
@{
    ViewData["Title"] = "CompanyJobEducation";
    var flag = (bool)ViewData["Options"];
}

@if (!flag)
{
    <h4>CompanyJobEducation</h4>
}

