@model IEnumerable<CareerCloud.Pocos.CompanyJobDescriptionPoco>
@{
    ViewData["Title"] = "CompanyJobDescription";
    var flag = (bool)ViewData["Options"];
}

@if (!flag)
{
    <h4>CompanyJobDescription</h4>
}
