@model CoreUI.Models.CompanyJobDetail

@{
    ViewData["Title"] = "Company Job Description Create";
    TempData.Keep("Company");
}

<h3>Company Job Description Create</h3>

<h4>@*CompanyJobDescriptionPoco*@</h4>
<hr />
<div class="row">
    @*<div class="col-md-4">*@
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group form-inline">
            <table>
                <tr>
                    <td>
                        <label asp-for="companyJobDescription.JobName" class="control-label"></label>
                    </td>
                    <td>
                        <input asp-for="companyJobDescription.JobName" class="form-control" />
                        <span asp-validation-for="companyJobDescription.JobName" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="companyJobDescription.JobDescriptions" class="control-label"></label>
                    </td>
                    <td>
                        <input asp-for="companyJobDescription.JobDescriptions" class="form-control" />
                        <span asp-validation-for="companyJobDescription.JobDescriptions" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="companyJob.ProfileCreated" class="control-label"></label>
                    </td>
                    <td>
                        <input asp-for="companyJob.ProfileCreated" class="form-control" />
                        <span asp-validation-for="companyJob.ProfileCreated" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="form-check-label">
                        <input class="form-check-input" asp-for="companyJob.IsInactive" /> @Html.DisplayNameFor(model => model.companyJob.IsInactive)
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="form-check-label">
                        <input class="form-check-input" asp-for="companyJob.IsCompanyHidden" /> @Html.DisplayNameFor(model => model.companyJob.IsCompanyHidden)
                        </label>
                    </td>
                </tr>
            </table>
        </div>
        <div class="form-group">
            <input type="submit" value="Create Job Education" class="btn btn-primary" />
        </div>
    </form>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
