@model IEnumerable<CareerCloud.Pocos.CompanyJobEducationPoco>

@{
    ViewData["Title"] = "Company Job Education Index";
    ViewData["Options"] = true;
}

<h1>Company Job Education Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
    <partial name="~/Views/Shared/CompanyShared/_JobEducation.cshtml" model="Model.ToList()" />
</div>
