@model IEnumerable<CareerCloud.Pocos.CompanyJobSkillPoco>

@{
    ViewData["Title"] = "Company Job Skill Index";
    ViewData["Options"] = true;
}

<h1>Company Job Skill Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
    <partial name="~/Views/Shared/CompanyShared/_JobSkill.cshtml" model="Model.ToList()" />
</div>

