@model CoreUI.Models.CompanyDetails

@{
    ViewData["Title"] = "Company Profile Create";
}

<h3>Company Profile Create</h3>

@*<h4>CompanyProfilePoco</h4>*@
<hr />
<div class="row">
    @*<div class="col-md-4">*@
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-inline">
                <table>
                    <tr>
                        <td>
                            <label asp-for="companyProfile.RegistrationDate" class="control-label"></label>
                        </td>
                        <td>
                            <input asp-for="companyProfile.RegistrationDate" class="form-control" />
                            <span asp-validation-for="companyProfile.RegistrationDate" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="companyProfile.CompanyWebsite" class="control-label"></label>
                        </td>
                        <td>
                            <input asp-for="companyProfile.CompanyWebsite" class="form-control" />
                            <span asp-validation-for="companyProfile.CompanyWebsite" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="companyProfile.ContactPhone" class="control-label"></label>
                        </td>
                        <td>
                            <input asp-for="companyProfile.ContactPhone" class="form-control" />
                            <span asp-validation-for="companyProfile.ContactPhone" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="companyProfile.ContactName" class="control-label"></label>
                        </td>
                        <td>
                            <input asp-for="companyProfile.ContactName" class="form-control" />
                            <span asp-validation-for="companyProfile.ContactName" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="companyDescription.LanguageId" class="control-label"></label>
                        </td>
                        <td>
                            <select asp-for="companyDescription.LanguageId" class="form-control" asp-items="ViewBag.Language"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="companyDescription.CompanyName" class="control-label"></label>
                        </td>
                        <td>
                            <input asp-for="companyDescription.CompanyName" class="form-control" />
                            <span asp-validation-for="companyDescription.CompanyName" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="companyDescription.CompanyDescription" class="control-label"></label>
                        </td>
                        <td>
                            <input asp-for="companyDescription.CompanyDescription" class="form-control" />
                            <span asp-validation-for="companyDescription.CompanyDescription" class="text-danger"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="form-group form-inline">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    @*</div>*@
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
