@{
    ViewData["Title"] = "Home Page";
}

<h1>MY JOB PORTAL</h1>
<div class="text-center">
    <h1 class="display-4">Welcome to Humber Job Portal </h1>
    <p>Get Source of Job Portal in <a href="https://github.com/Aarthi-Saba/JobPortalWebApplication"> JobPortalGitHub </a>.</p>
    <img src="https://www.minimaxsolution.com/wp-content/uploads/2017/09/pic_4-1.png"/>
</div>
